.count-top{
    padding: 21px 0px 38px 32px;
    background-color: #fff;
    h2 {
      font-size: 20px;
      padding: 20px 0px;
    }
    p {
      background: #f7fcff;
      padding: 10px 0px;
      color: #999;
      line-height: 1.8;
    }
    .count-top-all {
      display: flex;
      align-items: center;
      margin-top: 20px;
      font-size: 14px;
      .proMes {
        flex: 1;
      }
      .right {
        flex: 8;
      }
      .product {
        padding-left: 0px;
      }
      .duration {
        padding-left: 0px;
      }
      .area {
        padding-left: 0px;
      }
      .price {
        padding-left: 0px;
      }
    }
  }
  .count-bottom {
    background-color: #fff;
    .sales-board-des {
    border-top: 20px solid #f0f2f5;
    padding: 15px 20px;
  }
  .sales-board-des p {
    line-height: 1.6;
  }
  .sales-board-des h2 {
    font-size: 20px;
    padding-bottom: 15px;
  }
  .sales-board-des h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0 10px 0;
  }
  .sales-board-des li {
    padding: 5px 0;
  }
  .sales-board-table {
    width: 100%;
    margin-top: 20px;
  }
  .sales-board-table th {
    background: #4fc08d;
    color: #fff;
  }
  .sales-board-table td {
      border: 1px solid #f0f2f5;
      padding: 15px;
  }
  }